
<div class="background-container">
  <div class="background-image"></div>
</div>

<ng-container *ngIf="true">
  <header>Reusable Angular Components - {{ currentComponent[0]['name'] }}</header>

  <div class="card-container" *ngIf="currentComponent[0]?.id == 1">
    <div class="cards" *ngFor="let i of DialogCards">
      <mat-card (click)="cardClickedDialog(i.index)">
        <mat-card-content>{{ i.name }}</mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="card-container" *ngIf="currentComponent[0]?.id == 2">
    <div class="cards" *ngFor="let i of formsCards">
      <mat-card (click)="cardClickedForms(i.index)">
        <mat-card-content>{{ i.name }}</mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="card-container" *ngIf="currentComponent[0]?.id == 3">
    <div class="cards" *ngFor="let i of tableCards">
      <mat-card (click)="cardClickedTables(i.index)">
        <mat-card-content>{{ i.name }}</mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="card-container" *ngIf="currentComponent[0]?.id == 4">
    <div class="card" *ngFor="let i of snackbarCard">
      <mat-card (click)="cardClickedSnackbar(i.index)">
        <mat-card-content>{{ i.name }}</mat-card-content>
      </mat-card>
    </div>
    <ng-container *ngIf="showSnackbar">
      <app-snackbar
      [horizontalPosition]="horizontalpos"
      [verticalPosition]="verticalpos"
      [counter]="counter"
      [isSuccess]="successStatus"
      ></app-snackbar>
    </ng-container>
    <div class="wd100">
      <h2 >Current theme : {{successStatus?'Sucess Snackbar':'Error Snackbar'}}</h2>
      <h2 style="text-align: center; padding-top: 50px; color: red; font-weight: 700;">Note: Always create snackbar in shared services and bind with single function call</h2>
     <div class="flex">
      <button class="wd40 pdr20" mat-flat-button color="primary" (click)="(this.successStatus = true)">Sucess Snackbar</button>
      <button class="wd40 pdl20" mat-flat-button color="primary" (click)="(this.successStatus = false)">Error Snackbar</button>
     </div>
    </div>
  </div>

  <div class="card-container" *ngIf="currentComponent[0]?.id == 5">
    <div class="cards" *ngFor="let i of chartCards">
      <mat-card (click)="cardClickedCharts(i.index)">
        <mat-card-content>{{ i.name }}</mat-card-content>
      </mat-card>
    </div>
  </div>

</ng-container>
