body{
  padding: 20px;

}

header{
  width: 100%;
  background: black;
  color: white;
  font-size: 39px;
  text-align: center;
  padding: 14px 0px;
}
.card-container{
  display: flex;
  padding: 30px 50px;
  flex-wrap: wrap;
  .cards{
    width: 360px;
    height: 160px;
    padding: 5px 20px;
    mat-card{
      display: flex;
      justify-content: center;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #1c0522);
      background-color: #4a2277;
      color: white;
      font-size: 17px;
      font-weight: 450;
      mat-card-content{
        text-align: center;
      }
    }
  }
  .snackbar-card {
    width: 345px;
    height: 200px;
    padding: 5px 20px;
    mat-card{
      display: flex;
      justify-content: center;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #1c0522);
      background-color: #4a2277;
      color: white;
      font-size: 17px;
      font-weight: 450;
      mat-card-content{
        text-align: center;
      }
    }
  }
}
