/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.form-body{
  height: auto;
}
.wd20 {
  width: 20%;
}
.wd30 {
  width: 30%;
}
.wd40 {
  width: 40%;
}
.wd50 {
  width: 50%;
}
.wd60{
  width: 60%;
}
.wd70{
  width: 70%;
}
.wd80{
  width: 80%;
}

.wd100{
  width: 100%;
}
.ht80 {
  height: 80%;
}
.ht50 {
  height: 50%;
}
.ht30 {
  height: 30%;
}
.ht40 {
  height: 40%;
}
.ht60 {
  height: 60%;
}
.ht70 {
  height: 70%;
}
.ht80 {
  height: 80%;
}
.pdl20{
  padding-left: 20px;
}
.pdr20{
  padding-right: 20px;
}
.flex{
  display: flex;
  justify-content: space-between;
}

.cdk-global-scrollblock {
  overflow-y: auto;
}
.title {
  font-size: 31px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}
